services:
  db:
    image: postgres:latest
    container_name: Vivacity
    environment:
      POSTGRES_USER: vivacity
      POSTGRES_PASSWORD: vivacityOrg
      POSTGRES_DB: vivacity_website
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - mynetwork

  web:
    build:
      context: .
      dockerfile: server/Dockerfile # <-- Corrected path to the Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - mynetwork

volumes:
  pg_data: {}

networks:
  mynetwork:
    driver: bridge