body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #0314f9;
    color: #f67a07;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #69a3e1;
}
